* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    height: 10vh;
    background-color: lightskyblue;
    border-bottom: 3px solid #333;
    padding-left: 1em;
    padding-top: 0.3em;
    text-align: center;
}

body {
    min-height: 100vh;
    background: yellow;
}

.colors {
    position: absolute;
    left: 0;
    width: 100px;
    height: 90vh;
    background: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 3px solid #333;
}

.colors span {
    position: relative;
    width: 30px;
    height: 30px;
    background: var(--clr);
    margin: 15px 0;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #333;
}

/* .colors span.active {
    border: 3px solid #333;
} */

/* .colors span::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: var(--clr);
    rotate: 45deg;
    translate: -36px;
    border-top: 3px solid #333;
    border-right: 3px solid #333;
    opacity: 0;
    transition: 0.5s;
}

.colors span.active::before {
    opacity: 1;
} */